/* styles/components/InitialWindow.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  /* styles/components/OptionsWindow.module.css */
  .container {
    width: 300px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin-left: 20px; /* Adjust the margin as needed */
  }
  
  .options-list {
    list-style: none;
    padding: 0;
  }
  
  .options-list li {
    margin-bottom: 10px;
  }
  
  .close-btn {
    margin-top: 20px;
  }
  