/* styles/components/OptionsWindow.module.css */
.container {
    width: 300px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  
  .optionsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .optionBtn {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .optionBtn:hover {
    background-color: #0056b3;
  }
  
  .closeBtn {
    margin-top: 10px;
  }
  