@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }

  button {
    @apply text-white border bg-red-500 border-red-600
      hover:bg-transparent hover:text-black rounded-md;
  }
  .button_custom {
    @apply w-full px-4 py-3 border-b border-gray-300 
    placeholder-gray-500 text-gray-900 outline-none 
    focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm;
  }
  .icon-gray-500 {
    color: #7f7f7f; /* or any other gray color */
  }
}
